<div class="container">
<div class="card">
  <div class="card-header">
    <a class="btn btn-success" routerLink="/add-formato/">Agregar nuevo formato</a>
  </div>
  <div class="card-body">

    <h2>Lista formato 🧐</h2>
    <table class="container-fluid" id="season-tble">

      <thead>
        <tr>
          <th>Codigo</th>
          <th>semana correspondiente</th>
          <th>fecha</th>
          <th>dia solicitado </th>
          <th>cedula</th>
          <th>hora inicio</th>
          <th>hora fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formato of formatos; let iControl=index">
          <td>{{formato.id}}</td>
          <td>{{formato.semana_correspondiente}}</td>
          <td>{{formato.fecha}}</td>
          <td>{{formato.dia_solicitado}}</td>
          <td>{{formato.cedula}}</td>
          <td>{{formato.hora_inicio}}</td>
          <td>{{formato.hora_fin}}</td>
          <td>
            <!-- <a   class="btn btn-info" routerLink="/edit-persona/{{formato.id}}">Editar</a> -->
           <a   class="btn btn-danger" (click)=" deleteformato(formato.id,iControl)" role="button">Borrar</a> 
         </td>
        </tr>

      </tbody>

    </table>
  </div>
</div>